
/** Reveal **/

.reveal h1 {
  font-size: 42pt;
  padding: 0.5%;
}

.reveal  h2 {
  font-size: 32pt;
}

.reveal h3 {
  font-size: 32pt;
  color: white;
  background-color: black;
  text-shadow: 0 1px 0 black;
  padding: 0;
}

.reveal small {
  font-size: 24pt;
  line-height: 50%;
}

.reveal p {
  font-size: 32pt;
  padding: 0!important;
}

.reveal .slide-number {
  right: 8px;
  top: 8px;
  bottom: auto;
  font-size: 24pt;
}

.reveal .controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Remove top and bottom control arrows */
.reveal .controls .navigate-down, .reveal .controls .navigate-up {
  display: none;
}

/* Remove image border and shadows*/
.reveal section img {
  background:none;
  border:none;
  box-shadow:none;
}

/** Logo **/

#logo-div {
  top: 89%;
  left: 2%;
  position: fixed;
}

.logo {
  height: 8vh;
}

/** Reference **/

.cite {
  font-size: 18pt !important;
  vertical-align: super !important;
}

.reference-list {
  font-size: 18pt;
  text-align: left;
}

/** Formats **/

.format a:link, a:visited, a:active {
  color: black;
  font-size: 18pt;
  outline: 0;
}

/** Custom **/

.background-text {
  color: white;
  text-shadow: 0 1px 0 black;
}
